DRUPAL_ENV=dev
#DRUPAL_ENV=prod
DRUPAL_PORT=8090
MARIADB_BIND_PORT=3306
DRUPAL_TRUSTED_HOST=localhost
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_PREFIX=lib_
MARIADB_DATABASE=liberal
MARIADB_USER=liberal
MARIADB_PASSWORD=liberal
MARIADB_ROOT_PASSWORD=liberal
MARIADB_INIT_SOURCE=./backup.liberal.gr/liberal_drupal_dev.sql
REDIS_HOST_INTERNAL=redis
REDIS_PORT_INTERNAL=6379
REDISINSIGHT_PORT=5540
HASH_SALT=drupal_hash
CONFIG_SYNC_DIRECTORY=../config/sync
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
BUCKET_NAME=test
S3_REGION=test
S3_USE_FOR_PUBLIC_FOLDER=TRUE
S3_USE_FOR_PRIVATE_FOLDER=TRUE
ERROR_LEVEL=hidden
INBROKER_POST_URL: ""
INBROKER_USERNAME: ""
INBROKER_SESSIONID: ""
INBROKER_COMPANY: ""
INBROKER_LANG: ""
INBROKER_MARKET: ""
INBROKER_TYPE: ""
REVERSE_PROXY=webserver # the other option is "aws-elb"
PROXYPASS: https://static-staging-liberal.unicorndomain.gr
STOCKSDB_HOSTNAME=test
STOCKSDB_USERNAME=test
STOCKSDB_PWD=test
STOCKSDB_DB=test
DRUSH_OPTIONS_URI: http://localhost:8090
STOCKS_APP_WEB_TAG=latest
DASHBOARD_APP_WEB_TAG=latest
ENABLE_CORS=false #true only for local development